.add-section,
.edit-section,
.profile-section,
.search-container{
    border-radius: var(--border-radius);
    width: 100%;
    background: var(--background-secondary-color);
    padding: 3rem 2rem 4rem;
}
.add-form,
.edit-form,
.profile-form,
.search-form{
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    max-width: 100%;
    width: 100%;
}
.add-title,
.edit-title,
.profile-title,
.search-title {
    margin-bottom: 2rem;
  }
  .row {
    margin-bottom: 0;
  }
  .form-center {
    display: grid;
    row-gap: 1rem;
  }
  .form-btn {
    display: grid !important;
    /* margin-top: 1rem; */
    place-items: center;
    height: 2.2rem;
  }
  @media (min-width: 992px) {
    .form-center {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      column-gap: 1rem;
    }
  }
  @media (min-width: 1120px) {
    .form-center {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }