.page-btn-section {
  height: 6rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 1rem;
}
.prev-btn,
.next-btn {
  background: var(--background-secondary-color);
  border-color: transparent;
  border-radius: var(--border-radius);

  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);

  width: 100px;
  height: 40px;
  color: var(--primary-500);
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
.page-btn {
  background: transparent;
  background: var(--background-secondary-color);
  border-color: transparent;
  border-radius: var(--border-radius);
  width: 50px;
  height: 40px;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--primary-500);
  cursor: pointer;
}
.btn-container {
    background: var(--background-secondary-color);
    border-radius: var(--border-radius);
    display: flex;
  }

.prev-btn:hover,
.next-btn:hover {
  background: var(--primary-500);
  color: var(--white);
  transition: var(--transition);
}
.active-btn {
  background: var(--primary-500) !important;
  color: var(--white) !important;
}
.dots {
    display:grid;
    background: transparent;
    background: var(--background-secondary-color);
    border-color: transparent;
    border-radius: var(--border-radius);
    width: 50px  !important;
    height: 40px  !important;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--primary-500);
    place-items: center;
    cursor: text;
  }
